@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #000000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url("../public/images/header-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.suppert {
  background-image: url("../public/images/Support-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@keyframes slideGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@media screen and (max-width: 480px) {
  body,
  html {
    overflow-x: hidden;
  }
}
